.item{
    width: 350px;
}
.item p{
    margin: 6px 0;
}
.item-prices{
    display: flex;
    gap : 20px;
}
.item-price-new{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff8c00;
}
.item-price-old{
    font-size: 1.2rem;
    font-weight: 500;
    color: #8a8a8a;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}