.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 98dvw;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 2dvh 0 2dvh 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo img{
    height:min(8dvh,5dvw);
    max-height: 100%;
}
.nav-logo span{
    font-size:min(6vh,3vw);
    color: #000000;
    font-weight: bold;
    margin-left: 1rem;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-menu li{
    text-decoration: none;
    color: #000000;
    font-size: min(3vh,1.5vw);
    font-weight: bold;
    list-style: none;
    margin: 0 1rem;
    position: relative;
}
.nav-menu hr{
    border: 0;
    border-radius: 10px;
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, #ff8c00, #ff0080);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav-login{
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.nav-login button{
    border: 1px solid #000000;
    border-radius: 20px;
    padding: min(1vh,.5vw) min(5vh,6vw);
    font-size:min(4vh,2vw);
    cursor: pointer;
    background: #ffffff;

}
.nav-login img{
    width: 5vw;
}

.nav-cart-count{
    width: 2vw;
    height: 2vw;
    font-size: .75vw;
    position: relative;
    right: 1vw;
    top: -2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #d10000;
    color: #ffffff;}
a{
    text-decoration: none;
    color: #000000;
}